// variables
$width: 1290px;
$main-color: #ffbc00;
$light: #f4f4f4;
$dark: #333;
$medium: #ccc;
$bg-image: url("/dist/img/showcase.jpg");

// set text color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
